Repository maxfield-allison/dnsweaver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

Path conditions:
  lint: any of: {**/*.go,go.mod,go.sum}
  test:go: any of: {**/*.go,go.mod,go.sum}
  security:trivy: any of: {**/*.go,go.mod,go.sum}
  security:govulncheck: any of: {**/*.go,go.mod,go.sum}
  build:go: any of: {**/*.go,go.mod,go.sum}
  docker:build:amd64: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}
  docker:build:arm64: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}
  docker:manifest: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}

fix(config): honor TARGET_MODE in provider validation (#130)
  CHANGELOG.md
  internal/config/config_test.go
  internal/config/instance.go
  pkg/provider/instance.go
  pkg/provider/instance_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(config): honor TARGET_MODE in provider validation (#130) (#157)
  CHANGELOG.md
  internal/config/config_test.go
  internal/config/instance.go
  pkg/provider/instance.go
  pkg/provider/instance_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(release): v2.7.1
  CHANGELOG.md
Due: none

fix(reconciler): resolve source collisions by hint precedence
  CHANGELOG.md
  internal/reconciler/reconcile_test.go
  internal/reconciler/reconciler.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(cloudflare): auto-disable proxying for non-routable A/AAAA targets
  CHANGELOG.md
  providers/cloudflare/provider.go
  providers/cloudflare/provider_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(reconciler)+feat(cloudflare): hint-precedence collisions + non-routable proxy auto-disable (#160)
  CHANGELOG.md
  internal/reconciler/reconcile_test.go
  internal/reconciler/reconciler.go
  providers/cloudflare/provider.go
  providers/cloudflare/provider_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(release): v2.7.2
  CHANGELOG.md
Due: none

fix(httputil): use explicit CR/LF barrier in log sanitizer
  pkg/httputil/client.go
  pkg/httputil/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(security): refresh .trivyignore for unfixed docker daemon CVEs
  .trivyignore
Due: none

fix(httputil): CR/LF log sanitizer barrier + .trivyignore refresh (#162)
  .trivyignore
  pkg/httputil/client.go
  pkg/httputil/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(reconciler): allow coexisting record types; only CNAME conflicts (#165)
  CHANGELOG.md
  docs/deployment/split-horizon.md
  docs/providers/technitium.md
  internal/reconciler/actions.go
  internal/reconciler/coexistence_test.go
  internal/reconciler/reconciler.go
  providers/technitium/companion.go
  providers/technitium/companion_test.go
  providers/technitium/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(reconciler): allow coexisting record types; only CNAME conflicts (#166)
  CHANGELOG.md
  docs/deployment/split-horizon.md
  docs/providers/technitium.md
  internal/reconciler/actions.go
  internal/reconciler/coexistence_test.go
  internal/reconciler/reconciler.go
  providers/technitium/companion.go
  providers/technitium/companion_test.go
  providers/technitium/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(release): v2.7.3
  CHANGELOG.md
Due: none

docs(brand): unify tagline and source model across all surfaces
  README.md
  deploy/helm/dnsweaver/Chart.yaml
  docker/DOCKERHUB.md
  docs/configuration/index.md
  docs/contributing/architecture.md
  docs/deployment/index.md
  docs/deployment/swarm.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/sources/index.md
  docs/stylesheets/brand.css
  docs/stylesheets/fonts/OFL-JetBrainsMono.txt
  docs/stylesheets/fonts/OFL-Sora.txt
  docs/stylesheets/fonts/jetbrains-mono-400.woff2
  docs/stylesheets/fonts/sora-variable.woff2
  mkdocs.yml
Due: none

docs: complete the TLS provider list and fix the Docker Hub Traefik example
  README.md
  docker/DOCKERHUB.md
Due: none

feat(brand): add the brand asset set and retire the Material-teal logo
  docs/assets/brand/apple-touch-icon.png
  docs/assets/brand/favicon.ico
  docs/assets/brand/favicon.svg
  docs/assets/brand/flow-dark-stacked.svg
  docs/assets/brand/flow-dark.svg
  docs/assets/brand/flow-light-stacked.svg
  docs/assets/brand/flow-light.svg
  docs/assets/brand/hero-banner.png
  docs/assets/brand/hero-banner.svg
  docs/assets/brand/icon-192.png
  docs/assets/brand/icon-512.png
  docs/assets/brand/lockup-h-bright.svg
  docs/assets/brand/lockup-h-deep.svg
  docs/assets/brand/lockup-stack-bright.svg
  docs/assets/brand/lockup-stack-deep.svg
  docs/assets/brand/lockup-tagline-bright.svg
  docs/assets/brand/lockup-tagline-deep.svg
  docs/assets/brand/mark-bright.svg
  docs/assets/brand/mark-deep.svg
  docs/assets/brand/mark-mono.svg
  docs/assets/brand/og-image.png
  docs/assets/brand/social-banner.png
  docs/assets/brand/source/apple-touch.svg
  docs/assets/brand/source/favicon-16.svg
  docs/assets/brand/source/favicon-32.svg
  docs/assets/brand/source/favicon-48.svg
  docs/assets/brand/source/hero-banner-raster.svg
  docs/assets/brand/source/icon-512.svg
  docs/assets/brand/source/og-image.svg
  docs/assets/brand/source/social-banner.svg
  docs/assets/logo.svg
  docs/index.md
  docs/stylesheets/brand.css
Due: none

fix(proxmox): resolve DHCP and multi-NIC LXC containers, add dual-stack
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/configuration/environment.md
  docs/sources/proxmox.md
  internal/config/config.go
  internal/config/global.go
  internal/proxmox/adapter.go
  internal/proxmox/adapter_test.go
  internal/proxmox/client.go
  internal/proxmox/client_test.go
  internal/proxmox/ip_resolver.go
  internal/proxmox/ip_resolver_test.go
  sources/proxmox/proxmox.go
  sources/proxmox/proxmox_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

ci: sync the Docker Hub short description too, not just the overview
  .gitlab-ci.yml
  docker/DOCKERHUB-SHORT.txt
Due: none

ci: run the Go jobs on fix/ branches too
  .gitlab-ci.yml
Due: none

chore(deps): bump Go toolchain to 1.26.6 and golang.org/x/mod to 0.40.0
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  go.mod
  go.sum
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: describe the GitHub-origin release flow, drop the retired develop branch from the checklist
  docs/contributing/adding-provider.md
  docs/testing/RELEASE-CHECKLIST.md
Due: none

fix(reconciler): update existing records when proxied state changes (#170)
  CHANGELOG.md
  docs/providers/cloudflare.md
  docs/sources/kubernetes.md
  docs/sources/native-labels.md
  internal/reconciler/actions.go
  internal/reconciler/cloudflare_state_test.go
  internal/reconciler/comparison.go
  internal/reconciler/comparison_test.go
  internal/reconciler/record_state_test.go
  pkg/provider/instance.go
  pkg/provider/instance_test.go
  pkg/provider/provider.go
  providers/cloudflare/provider.go
  providers/cloudflare/provider_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(reconciler): replace a conflicting CNAME when allowed instead of skipping forever (#171)
  CHANGELOG.md
  docs/configuration/environment.md
  docs/configuration/modes.md
  internal/reconciler/actions.go
  internal/reconciler/conflict_test.go
  internal/reconciler/reconciler.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(release): v2.8.0
  CHANGELOG.md
Due: none

Update Dockerfile
  Dockerfile
Due: docker:build:amd64, docker:build:arm64, docker:manifest

fix: remove sibling Docker environment defaults
  Dockerfile
Due: docker:build:amd64, docker:build:arm64, docker:manifest

deps: bump golang.org/x/crypto to v0.56.0
  go.mod
  go.sum
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

deps: bump golang.org/x/crypto to v0.56.0 (#186)
  go.mod
  go.sum
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

Fix dockerfile environment variable DNSWEAVER_DRY_RUN overwriting config file dry_run (#184)
  Dockerfile
Due: docker:build:amd64, docker:build:arm64, docker:manifest

fix: align container healthcheck with configured port
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Dockerfile
  cmd/dnsweaver/healthcheck.go
  cmd/dnsweaver/healthcheck_test.go
  cmd/dnsweaver/main.go
  docs/deployment/docker-compose.md
  docs/deployment/swarm.md
  docs/examples/docker-stack-testing.example.yml
  docs/observability.md
  internal/config/global.go
  internal/config/health.go
  internal/config/health_test.go
  internal/config/loader.go
  internal/health/probe.go
  internal/health/probe_test.go
  scripts/test-image-healthcheck.sh
  testdata/image-healthcheck-config.yml
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

test: assert configured health ports
  internal/config/health.go
  scripts/test-image-healthcheck.sh
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: record configurable image health checks
  CHANGELOG.md
Due: none

fix: make image health checks honor the configured port (#188)
  .github/workflows/ci.yml
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  cmd/dnsweaver/healthcheck.go
  cmd/dnsweaver/healthcheck_test.go
  cmd/dnsweaver/main.go
  docs/deployment/docker-compose.md
  docs/deployment/swarm.md
  docs/examples/docker-stack-testing.example.yml
  docs/observability.md
  internal/config/global.go
  internal/config/health.go
  internal/config/health_test.go
  internal/config/loader.go
  internal/health/probe.go
  internal/health/probe_test.go
  scripts/test-image-healthcheck.sh
  testdata/image-healthcheck-config.yml
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore: prepare v2.8.1 release
  CHANGELOG.md
Due: none

chore(release): v2.8.1
  CHANGELOG.md
Due: none

fix: make release image jobs portable
  .gitlab-ci.yml
  CHANGELOG.md
  scripts/test-image-healthcheck.sh
Due: none

chore(release): v2.8.2
  CHANGELOG.md
Due: none

chore(release): use v2.8.2 publication date
  CHANGELOG.md
Due: none
