Repository maxfield-allison/dnsweaver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

Path conditions:
  lint: any of: {**/*.go,go.mod,go.sum}
  test:go: any of: {**/*.go,go.mod,go.sum}
  security:trivy: any of: {**/*.go,go.mod,go.sum}
  security:govulncheck: any of: {**/*.go,go.mod,go.sum}
  build:go: any of: {**/*.go,go.mod,go.sum}
  docker:build:amd64: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}
  docker:build:arm64: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}
  docker:manifest: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}

docs: add operational modes documentation and config audit fixes (#93)
  docs/configuration/environment.md
  docs/configuration/index.md
  docs/configuration/modes.md
  internal/config/file.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(ci): use DEPLOY_HOST as fallback for SSH_HOST in integration tests
  scripts/integration-test.sh
Due: none

docs: replace ASCII diagrams with Mermaid
  README.md
  docs/deployment/split-horizon.md
  docs/index.md
  mkdocs.yml
Due: none

docs: add Mermaid dark mode theme support
  docs/assets/javascripts/mermaid-init.js
  mkdocs.yml
Due: none

ci: add GitLab Pages for documentation preview
  .gitlab-ci.yml
  docs/assets/javascripts/mermaid-init.js
Due: none

feat(dnsupdate): add RFC 2136 Dynamic DNS client package
  go.mod
  go.sum
  pkg/dnsupdate/client.go
  pkg/dnsupdate/client_test.go
  pkg/dnsupdate/config.go
  pkg/dnsupdate/config_test.go
  pkg/dnsupdate/doc.go
  pkg/dnsupdate/record.go
  pkg/dnsupdate/record_test.go
  pkg/dnsupdate/tsig.go
  pkg/dnsupdate/tsig_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(provider): add RFC 2136 Dynamic DNS provider
  .gitlab-ci.yml
  cmd/dnsweaver/main.go
  docs/providers/index.md
  docs/providers/rfc2136.md
  internal/config/instance.go
  mkdocs.yml
  pkg/dnsupdate/catalog.go
  pkg/dnsupdate/catalog_test.go
  pkg/dnsupdate/client.go
  providers/rfc2136/config.go
  providers/rfc2136/config_test.go
  providers/rfc2136/doc.go
  providers/rfc2136/factory.go
  providers/rfc2136/provider.go
  providers/rfc2136/provider_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: improve discoverability and SEO
  .gitlab-ci.yml
  README.md
  docker/DOCKERHUB.md
  docs/configuration/environment.md
  docs/deployment/split-horizon.md
  docs/deployment/swarm.md
  docs/faq.md
  docs/getting-started.md
  docs/providers/adguard.md
  docs/providers/cloudflare.md
  docs/providers/dnsmasq.md
  docs/providers/pihole.md
  docs/providers/rfc2136.md
  docs/providers/technitium.md
  docs/providers/webhook.md
  docs/sources/docker.md
  docs/sources/swarm.md
  docs/sources/traefik-files.md
Due: none

fix(rfc2136): clamp lower bound on record TTL conversion
  providers/rfc2136/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

deps: bump go-dependencies group + pin go 1.26.4
  go.mod
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(rfc2136): use explicit clamp helper for TTL conversion
  providers/rfc2136/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(ci): bump CI Go image to 1.26.4 to match go.mod pin
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
Due: docker:build:amd64, docker:build:arm64, docker:manifest

feat(providers): add OPNsense provider with Unbound + Dnsmasq engines
  CHANGELOG.md
  README.md
  cmd/dnsweaver/setup.go
  docs/contributing/adding-provider.md
  docs/providers/index.md
  docs/providers/opnsense.md
  internal/config/instance.go
  mkdocs.yml
  providers/opnsense/client.go
  providers/opnsense/config.go
  providers/opnsense/config_test.go
  providers/opnsense/doc.go
  providers/opnsense/engine.go
  providers/opnsense/engine_dnsmasq.go
  providers/opnsense/engine_test.go
  providers/opnsense/engine_unbound.go
  providers/opnsense/factory.go
  providers/opnsense/ownership.go
  providers/opnsense/ownership_test.go
  providers/opnsense/provider.go
  providers/opnsense/provider_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(config): add standalone platform mode (DNSWEAVER_PLATFORM=none)
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/configuration/environment.md
  docs/faq.md
  internal/config/global.go
  internal/config/global_test.go
  internal/config/loader.go
  internal/config/platform_test.go
  internal/config/validate.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: sync provider counts for OPNsense (now 10 providers)
  docs/index.md
  docs/testing/TEST-CASES.md
Due: none

docs: document Cloudflare proxied label and refresh stale v2.0 removal notes
  docs/configuration/environment.md
  docs/faq.md
  docs/providers/adguard.md
  docs/providers/cloudflare.md
  docs/providers/pihole.md
  docs/providers/technitium.md
  docs/providers/webhook.md
  docs/sources/native-labels.md
  docs/sources/proxmox.md
Due: none

chore: correct stale 'removed in v2.0' deprecation notices
  cmd/dnsweaver/main.go
  internal/config/config.go
  internal/config/global.go
  internal/config/instance.go
  internal/proxmox/client.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: add CHANGELOG entry for proxied label docs + deprecation reword
  CHANGELOG.md
Due: none

chore(security): bump Go toolchain to 1.26.5 (GO-2026-5856)
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  go.mod
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(docker): support root-owned sockets via DNSWEAVER_DOCKER_GID + socket proxy
  CHANGELOG.md
  docker/entrypoint.sh
  docs/configuration/environment.md
  docs/examples/docker-compose.socket-proxy.example.yml
  docs/sources/docker.md
Due: none

fix(docker): bounded startup connection retry (#125)
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/configuration/environment.md
  docs/sources/docker.md
  internal/config/config.go
  internal/config/file.go
  internal/config/global.go
  internal/config/global_test.go
  internal/docker/client.go
  internal/docker/client_test.go
  internal/docker/options.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

test(docker): fix misspell lint (cancelling/cancelled -> canceling/canceled)
  internal/docker/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(release): finalize CHANGELOG for v2.4.0
  CHANGELOG.md
Due: none

docs: enrich architecture diagram + add lifecycle and matching diagrams
  README.md
  docs/configuration/domains.md
  docs/getting-started.md
  docs/index.md
Due: none

feat(providers): add pfSense provider (pfSense-pkg-RESTAPI)
  CHANGELOG.md
  README.md
  cmd/dnsweaver/setup.go
  docs/contributing/adding-provider.md
  docs/index.md
  docs/providers/index.md
  docs/providers/pfsense.md
  docs/testing/TEST-CASES.md
  internal/config/instance.go
  mkdocs.yml
  providers/pfsense/client.go
  providers/pfsense/config.go
  providers/pfsense/config_test.go
  providers/pfsense/doc.go
  providers/pfsense/engine.go
  providers/pfsense/factory.go
  providers/pfsense/hostoverride.go
  providers/pfsense/ownership.go
  providers/pfsense/ownership_test.go
  providers/pfsense/provider.go
  providers/pfsense/provider_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(incus): support incus-compose labels (#131)
  CHANGELOG.md
  docs/sources/incus.md
  internal/incus/adapter.go
  internal/incus/adapter_test.go
  sources/incus/incus.go
  sources/incus/incus_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(incus): multi-project support (#137)
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/sources/incus.md
  internal/config/config.go
  internal/config/global.go
  internal/config/incus_projects_test.go
  internal/config/secrets.go
  internal/incus/client.go
  internal/incus/client_test.go
  internal/incus/events.go
  internal/incus/events_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(config): automatic target IP detection (#130)
  CHANGELOG.md
  cmd/dnsweaver/main.go
  cmd/dnsweaver/target_refresh.go
  docs/configuration/environment.md
  internal/config/instance.go
  internal/config/instance_test.go
  internal/config/target_mode_test.go
  internal/config/validate.go
  internal/reconciler/actions.go
  internal/reconciler/orphan.go
  internal/target/iface.go
  internal/target/public.go
  internal/target/refresh.go
  internal/target/refresh_test.go
  internal/target/target.go
  internal/target/target_test.go
  pkg/provider/instance.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(incus): trust-token certificate enrollment
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/sources/incus.md
  internal/config/config.go
  internal/config/global.go
  internal/incus/enroll.go
  internal/incus/enroll_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(incus): do not verify the server certificate
  internal/incus/client.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(proxmox): add hostname tag prefix support for FQDN resolution
  CHANGELOG.md
  cmd/dnsweaver/setup.go
  docs/configuration/environment.md
  docs/sources/proxmox.md
  internal/config/config.go
  internal/config/global.go
  sources/proxmox/proxmox.go
  sources/proxmox/proxmox_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(incus): pin server certificate for token enrollment and stateless setups
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/sources/incus.md
  internal/config/config.go
  internal/config/global.go
  internal/incus/enroll.go
  internal/incus/enroll_test.go
  pkg/httputil/client.go
  pkg/httputil/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(lint): resolve golangci-lint findings after linter update
  .golangci.yml
  internal/health/server_test.go
  internal/incus/adapter.go
  internal/incus/client_test.go
  internal/incus/ip_resolver.go
  internal/kubernetes/resources/httproute.go
  internal/kubernetes/resources/ingress.go
  internal/kubernetes/resources/ingressroute.go
  internal/kubernetes/resources/service.go
  internal/metrics/metrics.go
  internal/proxmox/adapter.go
  internal/proxmox/ip_resolver.go
  internal/reconciler/actions.go
  internal/reconciler/reconciler.go
  internal/testutil/mock_server.go
  internal/testutil/responses.go
  pkg/dnsupdate/config.go
  pkg/dnsupdate/tsig.go
  pkg/provider/manager_test.go
  pkg/provider/tls.go
  pkg/source/hostname.go
  pkg/sshutil/client.go
  providers/dnsmasq/ssh_test.go
  providers/pihole/client.go
  providers/pihole/client_v6.go
  sources/dnsweaver/parser.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(lint): upgrade golangci-lint to v2
  .github/workflows/ci.yml
  .gitlab-ci.yml
  Makefile
Due: none

feat(proxmox): add prefix-based interface matching and fallback for VM IP resolution (#149)
  .gitignore
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/configuration/environment.md
  docs/sources/proxmox.md
  internal/config/config.go
  internal/config/global.go
  internal/proxmox/adapter.go
  internal/proxmox/ip_resolver.go
  internal/proxmox/ip_resolver_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(httputil): strip control characters from sanitized URLs in logs
  pkg/httputil/client.go
  pkg/httputil/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(httputil): strip control characters from sanitized URLs in logs (#155)
  pkg/httputil/client.go
  pkg/httputil/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(config): warn on misspelled DNSWEAVER_ environment prefixes
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/configuration/environment.md
  internal/config/envcheck.go
  internal/config/envcheck_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(config): warn on misspelled DNSWEAVER_ environment prefixes (#156)
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/configuration/environment.md
  internal/config/envcheck.go
  internal/config/envcheck_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

chore(release): v2.7.0
  CHANGELOG.md
Due: none
