Repository maxfield-allison/dnsweaver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

Path conditions:
  lint: any of: {**/*.go,go.mod,go.sum}
  test:go: any of: {**/*.go,go.mod,go.sum}
  security:trivy: any of: {**/*.go,go.mod,go.sum}
  security:govulncheck: any of: {**/*.go,go.mod,go.sum}
  build:go: any of: {**/*.go,go.mod,go.sum}
  docker:build:amd64: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}
  docker:build:arm64: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}
  docker:manifest: any of: {**/*.go,go.mod,go.sum,Dockerfile,.dockerignore}

test(provider): add edge case tests for registry and error handling
  pkg/provider/edge_cases_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

refactor(reconciler): split into focused modules
  internal/reconciler/actions.go
  internal/reconciler/comparison.go
  internal/reconciler/comparison_test.go
  internal/reconciler/extended_test.go
  internal/reconciler/orphan.go
  internal/reconciler/reconciler.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(provider): add Capabilities() method to Provider interface
  internal/reconciler/testutil_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/registry_test.go
  providers/cloudflare/provider.go
  providers/dnsmasq/provider.go
  providers/pihole/provider.go
  providers/technitium/provider.go
  providers/webhook/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(provider): add per-instance operational modes (#80)
  internal/config/instance.go
  internal/config/instance_test.go
  internal/reconciler/core_test.go
  internal/reconciler/orphan.go
  pkg/provider/instance.go
  pkg/provider/mode.go
  pkg/provider/mode_test.go
  pkg/provider/registry.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(provider): add Updater interface for native record updates (#70)
  internal/reconciler/actions.go
  pkg/provider/instance.go
  pkg/provider/provider.go
  providers/cloudflare/client.go
  providers/cloudflare/provider.go
  providers/technitium/client.go
  providers/technitium/provider.go
  providers/webhook/client.go
  providers/webhook/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(config): add YAML configuration file support (#66)
  CHANGELOG.md
  cmd/dnsweaver/main.go
  docs/config.example.yml
  internal/config/config.go
  internal/config/file.go
  internal/config/file_test.go
  internal/config/loader.go
  internal/config/loader_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: update CHANGELOG for v0.5.0 release
  CHANGELOG.md
Due: none

chore: sanitize examples for public repository
  .gitignore
  CONTRIBUTING.md
  README.md
  docker-compose.dev.example.yml
  docs/PROVIDER-GUIDE.md
  docs/config.example.yml
  go.mod
  internal/config/config_test.go
  internal/config/file_test.go
  internal/config/instance_test.go
  internal/config/loader_test.go
  internal/config/validate_test.go
  pkg/provider/instance_test.go
  providers/dnsmasq/client_test.go
  providers/dnsmasq/provider_test.go
  providers/pihole/client_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(config): add missing env override for file-based providers (#66)
  CHANGELOG.md
  docs/examples/config.example.yml
  docs/examples/docker-compose.dev.example.yml
  docs/examples/docker-entrypoint.sh
  docs/examples/docker-stack-testing.example.yml
  docs/examples/docker-stack.example.yml
  internal/config/config.go
  internal/config/instance.go
  internal/config/instance_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(ci): add GitLab host and projectId to issue sync config
  .github/sync-config.yml
Due: none

fix(ci): disable GitLab→GitHub sync to prevent internal issue exposure
  .github/sync-config.yml
Due: none

fix(source): respect enabled and ttl labels in dnsweaver source (#89, #90)
  CHANGELOG.md
  sources/dnsweaver/parser.go
  sources/dnsweaver/parser_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: use RFC 5737 documentation IPs in code examples
  pkg/provider/instance.go
  sources/dnsweaver/dnsweaver.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

ci(security): fetch centralized gitleaks config from homelab-iac
  .gitlab-ci.yml
Due: none

feat(technitium): add INSECURE_SKIP_VERIFY option
  providers/technitium/client.go
  providers/technitium/client_test.go
  providers/technitium/config.go
  providers/technitium/config_test.go
  providers/technitium/provider.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: document INSECURE_SKIP_VERIFY option for v0.5.2
  CHANGELOG.md
  README.md
Due: none

fix(config): add INSECURE_SKIP_VERIFY to providerConfigFields
  internal/config/config_test.go
  internal/config/instance.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs: update CHANGELOG for v0.5.3 release
  CHANGELOG.md
Due: none

docs: restructure README into MkDocs documentation site
  .github/workflows/docs.yml
  README.md
  docs/configuration/domains.md
  docs/configuration/environment.md
  docs/configuration/secrets.md
  docs/contributing/adding-provider.md
  docs/contributing/adding-source.md
  docs/contributing/development.md
  docs/contributing/index.md
  docs/deployment/docker-compose.md
  docs/deployment/split-horizon.md
  docs/deployment/swarm.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/observability.md
  docs/providers/cloudflare.md
  docs/providers/dnsmasq.md
  docs/providers/index.md
  docs/providers/pihole.md
  docs/providers/technitium.md
  docs/providers/webhook.md
  docs/sources/docker.md
  docs/sources/native-labels.md
  docs/sources/swarm.md
  docs/sources/traefik-files.md
  mkdocs.yml
Due: none

docs: remove ROADMAP.md
  ROADMAP.md
Due: none

feat(http): consolidate HTTP client logic into shared httputil package
  .github/workflows/gitlab-sync.yml
  cmd/dnsweaver/main.go
  docs/config.example.yml
  internal/reconciler/core_test.go
  internal/reconciler/extended_test.go
  internal/reconciler/reconcile_test.go
  internal/reconciler/testutil_test.go
  pkg/httputil/client.go
  pkg/httputil/client_test.go
  pkg/provider/edge_cases_test.go
  pkg/provider/registry.go
  pkg/provider/registry_test.go
  providers/cloudflare/client.go
  providers/cloudflare/config.go
  providers/cloudflare/factory.go
  providers/cloudflare/provider.go
  providers/cloudflare/provider_test.go
  providers/dnsmasq/factory.go
  providers/dnsmasq/provider.go
  providers/dnsmasq/provider_test.go
  providers/pihole/client.go
  providers/pihole/factory.go
  providers/pihole/provider.go
  providers/technitium/client.go
  providers/technitium/client_test.go
  providers/technitium/factory.go
  providers/webhook/client.go
  providers/webhook/config.go
  providers/webhook/factory.go
  providers/webhook/provider.go
  providers/webhook/provider_test.go
  testdata/dnsmasq/dnsweaver.conf
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(docs): add pymdownx.emoji extension and logo asset
  docs/assets/logo.svg
  mkdocs.yml
Due: none

docs(polish): apply best practices from reference documentation sites
  .gitignore
  docs/configuration/index.md
  docs/contributing/index.md
  docs/deployment/index.md
  docs/index.md
  docs/providers/index.md
  docs/sources/index.md
  mkdocs.yml
Due: none

chore(license): change from MIT to BSL 1.1
  LICENSE
  README.md
Due: none

docs(changelog): add v0.6.0 release notes
  CHANGELOG.md
Due: none

chore: normalize line endings to LF
  .dockerignore
  .gitattributes
  .github/workflows/gitlab-sync.yml
  .gitignore
  Dockerfile
  LICENSE
Due: docker:build:amd64, docker:build:arm64, docker:manifest

chore(git): force LF line endings on checkout
  .gitattributes
Due: none

fix(docs): install imaging deps for social cards plugin
  .github/workflows/docs.yml
Due: none

chore(license): add SPDX identifier for GitHub detection
  LICENSE
Due: none

chore(license): revert from BSL-1.1 to MIT
  CHANGELOG.md
  LICENSE
  README.md
Due: none

feat(pihole): add Pi-hole v6 API support with auto-detection
  providers/pihole/client_interface.go
  providers/pihole/client_test.go
  providers/pihole/client_v6.go
  providers/pihole/client_v6_test.go
  providers/pihole/config.go
  providers/pihole/provider.go
  providers/pihole/version.go
  providers/pihole/version_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(sshutil): add shared SSH/SFTP client package
  go.mod
  go.sum
  pkg/sshutil/client.go
  pkg/sshutil/client_test.go
  pkg/sshutil/command.go
  pkg/sshutil/command_test.go
  pkg/sshutil/config.go
  pkg/sshutil/config_test.go
  pkg/sshutil/doc.go
  pkg/sshutil/filesystem.go
  pkg/sshutil/filesystem_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(pihole): use correct v6 API endpoint for version detection
  providers/pihole/version.go
  providers/pihole/version_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

fix(pihole): correct v6 API response parsing for List()
  providers/pihole/client_v6.go
  providers/pihole/client_v6_test.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

feat(provider): graceful provider initialization with retry and Ping verification
  cmd/dnsweaver/main.go
  internal/health/server.go
  internal/health/server_test.go
  internal/metrics/metrics.go
  pkg/provider/manager.go
  pkg/provider/manager_test.go
  pkg/provider/registry.go
Due: lint, test:go, security:trivy, security:govulncheck, build:go, docker:build:amd64, docker:build:arm64, docker:manifest

docs(changelog): add v0.7.0 release notes
  CHANGELOG.md
Due: none

feat(test): add integration test script for CI/CD
  scripts/integration-test.sh
Due: none

style: remove trailing whitespace from integration test script
  scripts/integration-test.sh
Due: none

ci: add integration test stage for develop branch
  .gitlab-ci.yml
Due: none
